<body>
  <h1>Skills</h1>
  <ul>
    <% skills.forEach(function(t) { %>
      <li>
        <%= t.skills %>
          - 
          <a href="/skills/<%= t.id %>"><%= t.skills %></a>
          <form action="/skills/<%= t.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button  type="submit">X</button>
          </form>
      </li>
    <% }); %>
  </ul>
  <a href="/skills/new">Add Skills</a>
</body>

